body
{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f8;
}

.user-profile-page
{
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1200px;
}

.main-website-nav-sections p
{
    font-size: 18px;
}

.main-website-nav-sections ul
{
    color: #000000;
    list-style: none;
    margin: 0 0 20px 0;
    display: flex;
}

.main-website-nav-sections li
{
    margin-right: 20px;
}

.main-website-nav-sections .current-button
{
    background: none;
    color: #0F62FE;
    border: none;
    cursor: pointer;
}

.main-website-nav-sections .regular-button
{
    background: none;
    border: none;
    cursor: pointer;
}

div#main-content-box
{
    max-height: 615px;
    display: flex;
    flex-wrap: wrap;
}

p#welcome-text
{
    font-size: 30px;
    font-weight: 600;
    padding-left: 18px;
}

.user-profile-section-selection
{
    background-color: #E5EEFF; /* Light blue background for the section selection */
    float: left;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 0px;
    min-width: 330px;
    min-height: 615px;
}

.user-profile-section-selection ul li
{
    color: #000000;
    list-style: none;
}

.section-selection-nav-buttons .current-button
{
    font-size: 17px;
    background: #0F62FE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding-top:0px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 290px;
    text-align: left;
}

.section-selection-nav-buttons .regular-button
{
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 290px;
    text-align: left;
}

button
{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
}

.section-content-area
{
    margin-left: 15px;
    width: 845px;
}

.section-content-area #calendar-div
{
    background-color: #D9D9D9;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    min-width: 845px;
    min-height: 350px;
}

p#calendar-div-text
{
    /*display: flex;*/
    text-align: center;
    /*
    align-items: center;
    justify-content: center;
    */
}

div#flight-list
{
    float: left;
    
    min-width: 910px;
    max-height: 300px;
}

table
{
    margin-left: 15px;
    margin-top: 15px;
    padding: 10px;
    border: solid;
    border-color: #000000;
    min-width: 845px;
    max-height: 400px;
    font-size: 17px;
}

td, th
{
    padding-top: 2px;
    padding-bottom: 2px;
}

tr td
{
    border: 1px solid black;
}

td.dollar-amount-td
{
    width: 55px;
}

.table-left-side
{
    text-align: left;
    border: black;
}

.table-right-side
{
    text-align: right;
    border: black;
}

/* From Prakash */
/* Promo Content */

#promo-box
{
    padding-top: 60px;
}

.promo-content
{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
}

.promo-item
{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    flex: 1;
    min-width: 250px; /* Minimum width for promo items */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.promo-image-placeholder
{
    width: 100%;
    height: 150px;
    background-color: #e9ecef;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}
/* Simulating the crossed box icon if no image provided */
.promo-image-placeholder::before
{
    content: 'X'; /* Placeholder content */
    font-size: 50px;
    border: 2px solid #ccc;
    padding: 20px;
    display: inline-block;
}

.promo-title
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.promo-info
{
    font-size: 10px;
    color: #555;
    margin-bottom: 15px;
    min-height: 60px; /* To align 'Learn more' links if text length varies */
}

.learn-more-link
{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.sales-clarification
{
    text-align: center;
    margin: 30px 0;
    font-style: italic;
    color: #555;
}