/* Import font from folder */
@font-face {
    font-family: Poppins;
    src: url(/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url(/Poppins/Poppins-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
    font-weight: 300;
}

/* header 1 -- logo, language, profile and log out buttons */
.header1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #3E4C65;
}

.whiteButton {
    background-color: #F4F6F8;
    color: #3E4C65;
    border: 1px solid #F4F6F8;
    padding: 8px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 300;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
}

.logoHeader {
    display: flex;
    justify-content: flex-start;
}

.header2 {
    display: flex;
    justify-content: space-between;
    background-color: #3E4C65;
    border-top: 1px solid #989D9F;
}

.headerChoices {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 15px;
    padding: 20px;
    align-items: flex-start;
}

.headerChoices a {
    margin-right: 20px;
    text-decoration: none;
}

.headerChoices a:link {
    color: #989D9F;
}

.headerChoices a:visited {
    color: #989D9F;
}

.headerChoices a:active {
    color: #FFFFFF;
}

.headerChoices a:hover {
    color: #FFFFFF;
}

.errorBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    margin-top: 70px;
}

.errorImage {
    display: flex;
    width: 120px;
}

.errorBody h1 {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 50px;
}

.errorBody h2 {
    font-weight: 500;
    margin-top: 0;
}

.errorDescription {
    font-weight: 300;
    margin-top: 20px;
    text-align: justify;
}

.homePageButtonContainer {
    margin-top: 20px;
}

.homePageButton {
    background-color: #3E4C65;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Poppins';
    color: #FFFFFF;
    border: 1.5px solid #3E4C65;
    width: 150px;
}

.homePageButton:hover {
    background-color: transparent;
    color: #3E4C65;
    border: 1.5px solid #3E4C65;
}