<footer class="main-footer-bottom">
    <div class="footer-columns">
        <div class="footer-column">
            <h4>About</h4>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Travel Updates</a></li> 
            </ul>
        </div>
        <div class="footer-column">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Book a Flight</a></li>
                <li><a href="#">Manage Booking</a></li>
                <li><a href="#">Flight Status</a></li>
                <li><a href="#">Membership</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Get the App</h4>
            <div class="app-links">
                <a href="#"><img src="../../images/app.png" alt="Download on the App Store"></a>
                <a href="#"><img src="../../images/playstore.png" alt="Get it on Google Play"></a>
            </div>
            <h4>Join Us</h4>
            <ul class="social-media-links">
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom-bar">
        <p class="copyright">CompanyName @ 2025. All rights reserved.</p>
        <nav class="footer-bottom-nav">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </nav>
    </div>
</footer> 