<!-- Header 1 (including logo, language dropdown, profile and log out buttons) -->
<header class="header1">
    <div class="logoHeader">
        <div class="logo">FlyDreamAir</div>
    </div>
    <nav>
        <select name="Language Options" id="language" class="whiteButton">
            <option value="lang1">Australia (English)</option>
            <option value="lang2">Language 2</option>
            <option value="lang3">Language 3</option>
            <option value="lang4">Language 4</option>
            <option value="lang5">Language 5</option>
            <option value="lang6">Language etc.</option>
        </select>
        <button class="whiteButton" onClick="profileButton()">Profile</button>
        <button class="whiteButton" onClick="logOutButton()">Log Out</button>
    </nav>
</header>
<!-- Second header covering the deals, plan, book, travel, manage booking, help navigation buttons -->
<header class="header2">
    <nav class="headerChoices">
        <a href="">Deals</a>
        <a href="">Plan</a>
        <a href="">Book</a>
        <a href="">Travel</a>
        <a href="">Manage Booking</a>
        <a href="">Help</a>
    </nav>
</header> 