<section class="user-profile-section-selection">
    <div>
        <p id="welcome-text">Welcome back,<br />USER!</p>
    </div>
    <nav class="section-selection-nav-buttons">
        <ul>
            <li>
                <a href="../upcoming_flights/index.html"><button class="regular-button" id="sidebar-upcoming-flights"><p>Upcoming flights</p></button></a>
            </li>
            <li>
                <a href="../digital-tickets/index.html"><button class="regular-button" id="sidebar-digital-tickets"><p>Digital tickets</p></button></a>
            </li>
            <li>
                <a href="../in-flight-points/index.html"><button class="regular-button" id="sidebar-inflight-points"><p>In-flight points</p></button></a>
            </li>
            <li>
                <a href="../booking-history/index.html"><button class="regular-button" id="sidebar-booking-history"><p>Booking history</p></button></a>
            </li>
            <li>
                <a href="../digital-receipts/index.html"><button class="regular-button" id="sidebar-digital-receipts"><p>Digital receipts</p></button></a>
            </li>
            <li>
                <a href="../user_profile/index.html"><button class="regular-button" id="sidebar-profile-management"><p>Profile management</p></button></a>
            </li>
            <li>
                <a href="../settings/index.html"><button class="regular-button" id="sidebar-settings"><p>Settings</p></button></a>
            </li>
        </ul>
    </nav>
</section> 