<footer class="main-footer-bottom">
    <div class="footer-columns">
        <div class="footer-column">
            <h4>Column One</h4>
            <ul>
                <li><a href="#">Twenty One</a></li>
                <li><a href="#">Thirty Two</a></li>
                <li><a href="#">Fourty Three</a></li>
                <li><a href="#">Fifty Four</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Column Two</h4>
            <ul>
                <li><a href="#">Sixty Five</a></li>
                <li><a href="#">Seventy Six</a></li>
                <li><a href="#">Eighty Seven</a></li>
                <li><a href="#">Ninety Eight</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Column Three</h4>
            <ul>
                <li><a href="#">One Two</a></li>
                <li><a href="#">Three Four</a></li>
                <li><a href="#">Five Six</a></li>
                <li><a href="#">Seven Eight</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Column Four</h4>
            <div class="app-links">
                <a href="#"><img src="../../images/app-store-badge.svg" alt="Download on the App Store"></a>
                <a href="#"><img src="../../images/google-play-badge.svg" alt="Get it on Google Play"></a>
            </div>
            <h4>Join Us</h4>
            <ul class="social-media-links">
                <li><a href="#"><img src="../../images/youtube-icon.svg" alt="YouTube"></a></li>
                <li><a href="#"><img src="../../images/facebook-icon.svg" alt="Facebook"></a></li>
                <li><a href="#"><img src="../../images/twitter-icon.svg" alt="Twitter"></a></li>
                <li><a href="#"><img src="../../images/instagram-icon.svg" alt="Instagram"></a></li>
                <li><a href="#"><img src="../../images/linkedin-icon.svg" alt="LinkedIn"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom-bar">
        <p class="copyright">CompanyName @ 202X. All rights reserved.</p>
        <nav class="footer-bottom-nav">
            <ul>
                <li><a href="#">Eleven</a></li>
                <li><a href="#">Twelve</a></li>
                <li><a href="#">Thirteen</a></li>
            </ul>
        </nav>
    </div>
</footer> 